# Data PreProcessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('netflix_titles.csv')
df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'netflix_titles.csv'

In [3]:
# Check the data types of the columns and get a summary of the data
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [3]:
#start by checking for missing values
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [4]:
#starting with the director column
df['director'].value_counts()

director
Rajiv Chilaka                     19
Raúl Campos, Jan Suter            18
Marcus Raboy                      16
Suhas Kadav                       16
Jay Karas                         14
                                  ..
Raymie Muzquiz, Stu Livingston     1
Joe Menendez                       1
Eric Bross                         1
Will Eisenberg                     1
Mozez Singh                        1
Name: count, Length: 4528, dtype: int64

In [5]:
print(list(df.columns.values))
print(df['type'].dtype)

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']
object

In [6]:
#filling the missing values with the mode where the datayqpe is an object and the mean where the datatype is a number

Columns = list(df.columns.values)
for col in Columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            df[col] = df[col].fillna(df[col].mean())
df.head(5)
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [7]:

df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [8]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,David Attenborough,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Rajiv Chilaka,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Rajiv Chilaka,David Attenborough,United States,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Rajiv Chilaka,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [9]:
#checking for duplicates
df.duplicated().sum()

0

# New Challenge

In [10]:
# let's try to find out the number of movies and tv shows in the dataset
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [11]:
# let's try to find the most frequent actors or actresses in the dataset

list_of_actors = []
for i in df['cast']:   
    for j in i.split(','):
        list_of_actors.append(j)
import statistics
from statistics import mode

print('Most roles played by: ' + mode(list_of_actors))

# let's try to find the most frequent directors in the dataset
list_of_directors = []
for i in df['director']:   
    for j in i.split(','):
        list_of_directors.append(j)
import statistics
from statistics import mode 
print('Most movies produced by: ' + mode(list_of_directors))

# let's try to find the most frequent countries in the dataset
list_of_countries = []
for i in df['country']:   
    for j in i.split(','):
        list_of_countries.append(j)
import statistics
from statistics import mode
print('Most movies produced in: ' + mode(list_of_countries))

Most roles played by: David Attenborough
Most movies produced by: Rajiv Chilaka
Most movies produced in: United States

In [12]:
print(df['cast'].isnull().sum())

0

In [13]:
#another way of finding the most frequent actor or actress top 10
list_of_actors = df['cast'].str.split(',')
list_of_actors = pd.Series(list_of_actors)
list_of_actors = list_of_actors.explode()
list_of_actors.value_counts().head(10)

cast
David Attenborough    845
 Anupam Kher           39
 Rupa Bhimani          31
 Takahiro Sakurai      30
 Julie Tejwani         28
 Om Puri               27
 Rajesh Kava           26
Shah Rukh Khan         26
 Andrea Libman         25
 Yuki Kaji             25
Name: count, dtype: int64

In [9]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
#top 10 movie types in the dataset. fyi, the one movie can have multiple types!!
print(df['listed_in'].str.split(',').str[0].value_counts().head(10))

#most frequent actor or actress in the dataset, another way found
df['cast'].str.split(',')
df['cast'].str.split(',').str[0].value_counts().head(10)

listed_in
Dramas                      1600
Comedies                    1210
Action & Adventure           859
Documentaries                829
International TV Shows       774
Children & Family Movies     605
Crime TV Shows               399
Kids' TV                     388
Stand-Up Comedy              334
Horror Movies                275
Name: count, dtype: int64

cast
David Attenborough    845
Shah Rukh Khan         26
Akshay Kumar           23
Amitabh Bachchan       20
Adam Sandler           20
Vatsal Dubey           18
Ajay Devgn             16
Nicolas Cage           16
Michela Luci           14
Aamir Khan             14
Name: count, dtype: int64