In [32]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
from datacleaner import autoclean
from tabulate import tabulate

In [33]:
df=pd.read_csv('test.csv')
df.head(4)

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,T0005689459,9.44,A,10.0,2.57438,A,B,3.68000,2,NaN,46,63,Male
1,T0005689462,32.15,B,10.0,2.85143,A,A,1.59375,0,65.0,49,80,Female
2,T0005689463,10.38,C,4.0,2.70530,A,D,4.50500,0,NaN,47,74,Male
3,T0005689466,14.94,NaN,6.0,2.48159,C,E,4.53000,0,63.0,43,54,Male

In [35]:
df = autoclean(df)
df.head(4)

/opt/anaconda3/lib/python3.12/site-packages/datacleaner/datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,0,9.44,0,10.0,2.57438,0,1,3.68000,2,61.0,46,63,1
1,1,32.15,1,10.0,2.85143,0,0,1.59375,0,65.0,49,80,0
2,2,10.38,2,4.0,2.70530,0,3,4.50500,0,61.0,47,74,1
3,3,14.94,1,6.0,2.48159,2,4,4.53000,0,63.0,43,54,1

In [ ]:
# Columns = list(df.columns.values)
# for col in Columns:
#     if df[col].isnull().any():
#         if df[col].dtype == 'object':
#             df[col] = df[col].fillna(df[col].mode()[0])
#         else:
#             df[col] = df[col].fillna(df[col].mean())
# df.head(5)
# df.isnull().sum()

Trip_ID                        0
Trip_Distance                  0
Type_of_Cab                    0
Customer_Since_Months          0
Life_Style_Index               0
Confidence_Life_Style_Index    0
Destination_Type               0
Customer_Rating                0
Cancellation_Last_1Month       0
Var1                           0
Var2                           0
Var3                           0
Gender                         0
dtype: int64

In [36]:
cat_col = df.select_dtypes(include=['object']).columns
num_col = df.select_dtypes(include='number').columns
cardinality = df[cat_col].nunique()

In [37]:

scaler = StandardScaler()
df[num_col]=scaler.fit_transform(df[num_col])

In [38]:
df.head(5)

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,-1.732031,-1.359888,-1.364523,1.131479,-1.091826,-1.367280,-0.000278,0.848099,1.176657,-0.092064,-1.041429,-1.037384,0.635950
1,-1.731991,-0.468735,-0.521207,1.131479,0.233226,-1.367280,-0.527671,-1.276958,-0.757093,0.177834,-0.436201,0.430323,-1.572451
2,-1.731952,-1.323002,0.322109,-0.561719,-0.465673,-1.367280,1.054509,1.688445,-0.757093,-0.092064,-0.839686,-0.087691,0.635950
3,-1.731912,-1.144065,-0.521207,0.002680,-1.535615,1.355441,1.581903,1.713910,-0.757093,0.042885,-1.646658,-1.814405,0.635950
4,-1.731872,-0.473444,-0.521207,0.284880,0.063678,-1.367280,4.746263,1.786485,2.143532,2.269547,-1.444915,-1.641734,0.635950

In [39]:
x = df.drop(['Customer_Rating'], axis=1)
y = df['Customer_Rating']

In [40]:
lr_model = LinearRegression()
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [48]:
lr  = lr_model.fit(x_train,y_train)

In [42]:
y_pred = lr_model.predict(x_test)
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print('MSE: ',mse)
print('R2: ',r2)

MSE:  0.7881595173292985
R2:  0.1949483361854888

# Decision TREE

In [43]:
dt_model = DecisionTreeClassifier()
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.2,random_state=42)
x_test,x_val,y_test,y_val=train_test_split(x_temp,y_temp,test_size=0.5,random_state=42)

In [44]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print('MSE: ',mse)
print('R2: ',r2)

MSE:  0.7881595173292985
R2:  0.1949483361854888

In [49]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = cross_val_score(lr, x, y,cv=kf, scoring='neg_mean_squared_error')
cv_scores = np.sqrt(-cv_scores)

print('Cross-Validation-Scores:', cv_scores)
print("Mean CV Score:", np.mean(cv_scores))

Cross-Validation-Scores: [0.88758852 0.90004756 0.89056553 0.89392973 0.89444155]
Mean CV Score: 0.8933145808969931

In [51]:
data = [
  ["mse_linear", mse],
  ["r2_linear", r2],
  ["mean cv score", np.mean(cv_scores)]
]

for i, score in enumerate(cv_scores, 1):
    data.append([f"cv_score_{i}", score])

headers = ['Method', 'Result']

In [52]:
table = tabulate(data, headers, tablefmt='grid')
print(table)

+---------------+----------+
| Method        |   Result |
+===============+==========+
| mse_linear    | 0.78816  |
+---------------+----------+
| r2_linear     | 0.194948 |
+---------------+----------+
| mean cv score | 0.893315 |
+---------------+----------+
| cv_score_1    | 0.887589 |
+---------------+----------+
| cv_score_2    | 0.900048 |
+---------------+----------+
| cv_score_3    | 0.890566 |
+---------------+----------+
| cv_score_4    | 0.89393  |
+---------------+----------+
| cv_score_5    | 0.894442 |
+---------------+----------+