In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [33]:
df = pd.read_csv('telefon turini aniqlash.csv')

In [34]:
df.head()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,20.0,756.0,2549,9.0,7.0,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,905.0,1988.0,2631,17.0,3.0,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1263.0,1716.0,2603,11.0,2.0,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1216.0,1786.0,2769,16.0,8.0,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1208.0,1212.0,1411,8.0,2.0,15,1,1,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

In [35]:
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [39]:
print(list(df.columns.values))
print(df['Vazni'].dtype)

['battereya_hajmi', 'blutus', 'protsessor_tezligi', 'ikkita simkartalik', 'Oldi_kamera', '4G', 'Ichki_xotira', 'tel_ingichgaligi', 'Rangi', 'Vazni', 'Protsessor yadrolari soni', 'Asosiy kamera', 'Qurilma xajmi(pix)', 'Qurilma ekran kengligi(pix)', 'ram', 'Qurilma xajmi(cm)', 'Qurilma ekran kengligi(cm)', 'Bir_quvvatlashdagi gaplashish', '3g', 'sensorli', 'wifi', 'telefon_turi']
int64

In [40]:
Columns = list(df.columns.values)
for col in Columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            df[col] = df[col].fillna(df[col].mean())
df.head(5)
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 0
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        0
Asosiy kamera                    0
Qurilma xajmi(pix)               0
Qurilma ekran kengligi(pix)      0
ram                              0
Qurilma xajmi(cm)                0
Qurilma ekran kengligi(cm)       0
Bir_quvvatlashdagi gaplashish    0
3g                               0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [41]:
df.head()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,20.0,756.0,2549,9.0,7.0,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,905.0,1988.0,2631,17.0,3.0,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,Sariq,145,...,1263.0,1716.0,2603,11.0,2.0,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,Jigarrang,131,...,1216.0,1786.0,2769,16.0,8.0,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,Oq,141,...,1208.0,1212.0,1411,8.0,2.0,15,1,1,0,1

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               2000 non-null   float64
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   float64
 11  Asosiy kamera                  2000 non-null   float64
 12  Qurilma xajmi(pix)             2000 non-null   float64
 13  Qurilma ekran kengligi(pix)    2000 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   float64
 16  Qurilma ekran kengligi(cm)     2000 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 343.9+ KB

In [43]:
cardinality=df.nunique()

In [44]:
num_col=df.select_dtypes(include=['float64','int64']).columns

In [45]:
cat_col=df.select_dtypes(include=['object']).columns

In [46]:
cat_col=df.select_dtypes(include=['object']).columns

In [47]:
cat_col

Index(['Rangi'], dtype='object')

In [49]:
cardinality=df[cat_col].nunique()
cardinality

Rangi    6
dtype: int64

In [50]:
for col in cat_col:
    cardinality = df[col].nunique()
    if cardinality >= 5:
        # one-hot encoding
        dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
        # Drop the original column and concatenate the dummy variables
        df = pd.concat([df.drop(col, axis=1), dummies], axis=1)
    else:
        # Apply label encoding
        df[col] = encoder.fit_transform(df[col])

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               2000 non-null   float64
 8   Vazni                          2000 non-null   int64
 9   Protsessor yadrolari soni      2000 non-null   float64
 10  Asosiy kamera                  2000 non-null   float64
 11  Qurilma xajmi(pix)             2000 non-null   float64
 12  Qurilma ekran kengligi(pix)    2000 non-null   float64
 13  ram                            2000 non-null   int64
 14  Qurilma xajmi(cm)              2000 non-null   float64
 15  Qurilma ekran kengligi(cm)     2000 non-null   float64
 16  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 17  3g                             2000 non-null   int64
 18  sensorli                       2000 non-null   int64
 19  wifi                           2000 non-null   int64
 20  telefon_turi                   2000 non-null   int64
 21  Rangi_Jigarrang                2000 non-null   int64
 22  Rangi_Oq                       2000 non-null   int64
 23  Rangi_Qizil                    2000 non-null   int64
 24  Rangi_Qora                     2000 non-null   int64
 25  Rangi_Sariq                    2000 non-null   int64
 26  Rangi_Yashil                   2000 non-null   int64
dtypes: float64(8), int64(19)
memory usage: 422.0 KB

In [52]:
pip install datacleaner

Requirement already satisfied: datacleaner in /opt/anaconda3/lib/python3.12/site-packages (0.1.5)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (from datacleaner) (2.2.2)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.12/site-packages (from datacleaner) (1.6.1)
Requirement already satisfied: update-checker in /opt/anaconda3/lib/python3.12/site-packages (from datacleaner) (0.18.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datacleaner) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datacleaner) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datacleaner) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->datacleaner) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn->datacleaner) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn->datacleaner) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn->datacleaner) (3.5.0)
Requirement already satisfied: requests>=2.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from update-checker->datacleaner) (2.32.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->datacleaner) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.3.0->update-checker->datacleaner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.3.0->update-checker->datacleaner) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.3.0->update-checker->datacleaner) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.3.0->update-checker->datacleaner) (2024.8.30)
Note: you may need to restart the kernel to use updated packages.

In [53]:
from datacleaner import autoclean

In [54]:
df  = autoclean(df)

/opt/anaconda3/lib/python3.12/site-packages/datacleaner/datacleaner.py:77: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  input_dataframe[column].fillna(input_dataframe[column].median(), inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Columns: 8818 entries, type to show_id_s999
dtypes: int64(8818)
memory usage: 592.5 MB